html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

body{
  background-color: #e6f4f8;
}

a{
    text-decoration: none;
}
a:visited {color: #2F322A;} посещенная ссылка
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.header{
  height: 121px;
  padding: 32px;
  display: flex;
  justify-content: space-around;
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 350px;
  text-decoration: none;
  list-style: none;
	color: #2F322A;
	text-align: center;
	text-transform: uppercase;
	padding: 8px;
}

.item{
    border: 2px solid grey;
    background-color: rgb(223, 61, 61);
    text-align: center;
  }
  
  .item:nth-child(even){
    background-color: rgb(138, 76, 76);
  }
  
  .box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1186px;
    grid-gap: 5px;
    height: 900px;
  }
  .item:nth-child(1){
  grid-row: span 5;
  grid-column: span 4;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/hero.jpg);
  }
  
  .item:nth-child(2){
    grid-row: span 3;
    grid-column: span 2;
background-repeat: no-repeat;
background-size: cover;
background-color: #b9a88e;

  }
  
  .item:nth-child(3){
    grid-row: span 3;
    grid-column: span 2;
    background-color: #2D2D35
  }
  
  
  .item:nth-child(4){
    grid-row: span 5;
    background-image: url(../images/gallery-1.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  
  .item:nth-child(5){
    grid-row: span 5;
    background-image: url(../images/gallery-2.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(6){
    grid-row: span 5;
    background-image: url(../images/gallery-3.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(7){
    grid-row: span 5;
    background-image: url(../images/gallery-4.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }

  
  .button {
    border: 2px solid white;
      font-size: 16px;
      font-weight:700;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.2);
      outline: none;
      color: whitesmoke;
      padding: 8px 30px;
      border-radius: 30px;
  }

  .button a:visited{
  color: white;
  }

.item__title{
  color: white;
  padding-top: 25px;
}

.item__name,
.item__text{
  color: white;
}



h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 90px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.footer{
  height: 124px;
  padding: 20px 30px;
  background-color: #dbecf1;
  max-width: 1186px;
  margin: 0 auto;
}

.footer-text{
  font-size: 13px;
  margin-bottom: 20px;

}