html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

body{
  background-color: #e6f4f8;
}

a{
    text-decoration: none;
}
a:visited {color: #2F322A;}
a:link{color: white;}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.header{
  height: 121px;
  padding: 32px;
  display: flex;
  justify-content: space-around;
  max-width: 1186px;
margin: 0 auto;
align-items: center;
}


.menu{
  display: flex;
  justify-content: space-between;
  width: 350px;
  text-decoration: none;
  list-style: none;
	color: #2F322A;
	text-align: center;
	text-transform: uppercase;
	padding: 8px;
}

.item{
    border: 2px solid grey;
    text-align: center;
    background-repeat: no-repeat;
  }
  

  
  .box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1186px;
    grid-gap: 5px;
    height: 900px;
  }
  .item:nth-child(1){
  grid-row: span 5;
  grid-column: span 4;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/hero.jpg);
  }
  
  .item:nth-child(2){
    grid-row: span 3;
    grid-column: span 2;
background-color: #b9a88e;

  }
  
  .item:nth-child(3){
    grid-row: span 3;
    grid-column: span 2;
    background-color: #2D2D35;
  }
  
  
  .item:nth-child(4){
    grid-row: span 5;
    background-image: url(../images/gallery-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .item:nth-child(5){
    grid-row: span 5;
    background-image: url(../images/gallery-2.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(6){
    grid-row: span 5;
    background-image: url(../images/gallery-3.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(7){
    grid-row: span 5;
    background-image: url(../images/gallery-4.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }

  





  .button {
    border: 2px solid white;
      font-size: 16px;
      font-weight:700;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.2);
      outline: none;
      color: whitesmoke;
      padding: 8px 30px;
      border-radius: 30px;
  }

  .button:hover{
    padding: 8px 40px;
  }

  .button a:visited{
  color: white;
  }

.item__title{
  color: white;
  padding-top: 25px;
}

.item__name,
.item__text{
  color: white;
}



h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 90px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.footer{
  padding: 35px;
  background-color: #dbecf1;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 24px;
}

.footer-text{
  font-size: 13px;
  margin-bottom: 20px;
}


#modal,#modal_1,#modal_2 {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 15px 40px 10px 40px;
  text-align: justify;
  border-radius: 3px;
  border: 2px solid #c4c4c4;
  text-align: center;
}


.content-body{
  font-size: 18px;
}

.content-header_top{
text-align: center;
font-size: 24px;
color: black;
font-weight: 600;
}

.content-footer{
  border-top: 1px solid #c4c4c4;
  padding-top: 5px;
  text-align: center;
}

@media(max-width:660px){
  .logo{
    display: none;
  }
  .menu{
    width: 475px;
  }
  .item:nth-child(2){
    grid-row: span 3;
    grid-column: span 4;
  }
  .item:nth-child(3){
    grid-row: span 3;
    grid-column: span 4;
  }


  .footer{
    padding: 25px;
    background-color: #dbecf1;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .item:nth-child(4){
grid-row: span 1;
  }
  .item:nth-child(5){
    grid-row: span 1;
      }
      .item:nth-child(6){
        grid-row: span 1;
          }
          .item:nth-child(7){
            grid-row: span 1;
              }

}