html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

body{
  background-color: #e6f4f8;
}

a{
    text-decoration: none;
}
a:visited {color: #2F322A;}
a:link{color: white;}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.header{
  height: 121px;
  padding: 32px;
  display: flex;
  justify-content: space-around;
  max-width: 1186px;
margin: 0 auto;
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 350px;
  text-decoration: none;
  list-style: none;
	color: #2F322A;
	text-align: center;
	text-transform: uppercase;
	padding: 8px;
}

.item{
    border: 2px solid grey;
    text-align: center;
  }
  

  
  .box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0 auto;
    max-width: 1186px;
    grid-gap: 5px;
    height: 900px;
  }
  .item:nth-child(1){
  grid-row: span 5;
  grid-column: span 4;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/hero.jpg);
  }
  
  .item:nth-child(2){
    grid-row: span 3;
    grid-column: span 2;
background-repeat: no-repeat;
background-size: cover;
background-color: #b9a88e;

  }
  
  .item:nth-child(3){
    grid-row: span 3;
    grid-column: span 2;
    background-color: #2D2D35
  }
  
  
  .item:nth-child(4){
    grid-row: span 5;
    background-image: url(../images/gallery-1.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  
  .item:nth-child(5){
    grid-row: span 5;
    background-image: url(../images/gallery-2.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(6){
    grid-row: span 5;
    background-image: url(../images/gallery-3.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }
  .item:nth-child(7){
    grid-row: span 5;
    background-image: url(../images/gallery-4.jpg);
    background-repeat: no-repeat;
background-size: cover;
  }

  
  .button {
    border: 2px solid white;
      font-size: 16px;
      font-weight:700;
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.2);
      outline: none;
      color: whitesmoke;
      padding: 8px 30px;
      border-radius: 30px;
  }

  .button a:visited{
  color: white;
  }

.item__title{
  color: white;
  padding-top: 25px;
}

.item__name,
.item__text{
  color: white;
}



h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 90px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.footer{
  height: 124px;
  padding: 30px;
  background-color: #dbecf1;
  max-width: 1186px;
  margin: 0 auto;
}

.footer-text{
  font-size: 13px;
  margin-bottom: 20px;
}

/* .modal{} */

.modal.open .modal-overlay,
.modal.open .modal-window{
    opacity:1 ;
    z-index: 1000;
}

.modal.open .modal-window{
    transform: translateY(100px);
}

.modal.open .modal-overlay{
    background: rgba(0,0,0,0.5);
}

.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}

.modal.hide .modal-overlay,
.modal.hide .modal-window{
    opacity:1 ;
    z-index: 1000;
}
.modal.hide .modal-window{
    transform: translateY(-200px);
}

.modal.hide .modal-overlay{
    background: rgba(0,0,0,0);
}
.modal-overlay{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .5s ease-in;
}

.modal-window{
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .5s ease-in;
}

.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modal-title{
    font-size: 1.5rem;
}

.modal-close{
    cursor: pointer;
}

.modal-body{
    padding: 10px;
}

.modal-body p{
    margin: 0 0 5px;
}
.modal-footer{
    padding: 5px 10px;
    border-top: 1px solid #eee;
}

#modal {
  display: none;
  width: 100%;
  max-width: 600px;
  padding: 15px 40px 10px 40px;
  text-align: justify;
  border-radius: 3px;
  border: 2px solid #c4c4c4;
  text-align: center;
}

.content-body{
  font-size: 18px;
}

.content-header_top{
text-align: center;
font-size: 24px;
color: black;
font-weight: 600;
}

.content-footer{
  border-top: 1px solid #c4c4c4;
  padding-top: 5px;
}